{% extends "base.html.twig" %}

{% block body %}
    <div class="newFormContainer">
        <div class="form">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="addBttn">Add category</button>
            {{ form_end(form) }}
        </div>
        <div class="ListContainer">
            <h1>Categories: </h1>
            {% for category in categories %}
                    <div class="program-index-seriesCard">
                        <p>{{ category.name }}</p>
                    </div>
            {% else %}
                No categories found.
            {% endfor %}
        </div>
    </div>
{% endblock %}