@import "bootstrap";
@import "~bootstrap/scss/bootstrap";

$primary: #F0C808;
$secondary: #000817;
$tertiary: #EAEBED;
$secondaryFont: #002366;

body {
    background-color: $secondary !important;
    height: 100%;
    width: 100%;
}

.link{
    text-decoration: none;
    color: $primary !important;
}

.w_link{
    text-decoration: none;
    color: $tertiary !important;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

@import "homeIndex.scss";
@import "nav.scss";
@import "program.scss";
@import "newForms.scss";