$frame-duration: 1;
$images-list:
        "/public/images/andor.jpg",
        "/public/images/blacklist.jpg",
        "/public/images/ringsofpower.jpg",
        "/public/images/rickandmorty.jpg",
        "/public/images/php.jpg",
        "/public/images/wildcode.jpg";

.homeContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Ubuntu;
  height: 100%;
  h3{
    margin-top: 50px;
    font-size: 50px;
    font-color: #0025be;
  }
}

.slideShow {
  margin: 0;
  font-size: 400px;
  line-height: 280px;
  font-weight: 900;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  animation: slideshow #{length($images-list) * $frame-duration}s infinite steps(1);
}

@keyframes slideshow {
  @for $i from 1 through length($images-list) {
    $percent: if($i == 1,
                    (0%, 100%),
                    (100% / length($images-list) * ($i - 1))
    );
    #{$percent} {
      background-image: url(nth($images-list, $i));
    }
  }
}

//--------------------------------------------------------------------------------------------------------------------

