h1{
  color: $tertiary !important;
}

.program-index-container{
  margin: 20px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 97%;
  flex-wrap: wrap;
}

.indexProgramCard{
  margin: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 450px;
  border-radius: 25px;
  box-shadow: 0 0 15px #00040c;
  text-decoration: none;
  overflow: hidden;
    .indexProgramCoverDiv{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      programTitle{
        font-size: 40px;
      }
    .indexProgramInfo{
      display: none;
        .h6{
          display: none;
        }
        p{
          display: none;
        }
    }
  }
}

//------------------------------------ Season & Episode SHOW --------------------------------------------------------------
.pageContainer {
  margin: 20px;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 98%;
  color: $tertiary!important;
}

.programPoster{
  border-radius: 25px;
  width: 80%;
  aspect-ratio: 16/9;
}

.programSection{
  height: 100%;
  width: 75%;
}

.ProgramInfo{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 20px;
  width: 85%;
}

.listSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 25%;
}

.listInfo{
  display: flex;
  flex-direction: row;
  gap: 30px;
}