.programShowContainer {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
  width: 98%;
}

.program{
  width: 75%;
}

.seasonList{
  display: flex;
  flex-direction: column;
  width: 20%;
}

.seasonListInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;}