{% extends 'base.html.twig' %}


{% block title %}Wild Series{% endblock %}


{% block body %}
    <div class="homeContainer">
        <h3>WELCOME TO</h3>
        <h1 class="slideShow">WILD SERIES</h1>
    </div>
{% endblock %}